body {
    margin: 0 !important;
    font-family: 'Muli', sans-serif;
    /* width: 100% !important; */
}

/* .element.style {
    transform: translateX(-450px) rotateY(20deg) scale(0.25)
} */


/*1st  Main Container for every image */
.coverflow__figure__3bk_C{
    box-shadow: none !important;
    margin: 25px !important;

}

/* 2nd Main Container for every image */
.coverflow__cover__25-7e {
    box-shadow: none !important;
}

.coverflow__cover__25-7e{
    width: 100%;
}
.coverflow__figure__3bk_C{
    box-shadow: none !important;
    margin: 25px !important;
    /* flex: 10 10 !important; */
}


/* .-webkit-box-reflect{
    below .25px -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1) 20%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0))
} */
.headlines {
    text-align: center;
    margin: 0;
    padding-top: 15px;
}
.sub-headline {
    font-size: 22px;
    text-align: center;
    padding-top:5px;
}

/* .img {
    -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(70%, transparent) , to(rgba(250, 250, 250, 0.1)));

} */

.slick-slide {
    transform: scale(0.5);
    opacity: .4;
    transition: all .5s;
    padding-left: 15px;
    padding-right: 15px;
}

/* Active Image in Carousel */
.slick-current {
    transform: scale(1.75);
    transition: all .5s;
    opacity: 1;
}

.slick-current:focus {
    outline: none;
}

.slick-list {
    padding: 75px 100px 50px !important; 
}