
.ag-theme-balham .ag-root{
   border: none; 
}

.ag-center-cols-viewport {
    background-color: #E7E8E9;

}
/* Table Container */
.ag-body-viewport.ag-layout-auto-height .ag-center-cols-container{
    min-height:2000px;
    background-color: #E7E8E9;
}

/* Table Header Titles */
.ag-theme-balham .ag-header-cell, .ag-theme-balham .ag-header-group-cell {
    text-transform: uppercase;
    font-family: 'Muli', 700, sans-serif;
    color:#B2B2B2;
}

/* Table Header - Row Background */
.ag-theme-balham .ag-header {
    background-color:#CED2D8;
    margin-bottom: 1%;
    border: none;
}

.ag-theme-balham .ag-cell {
    line-height: 30px;
    padding-top:8px;
    padding-bottom:8px;  
}


/* Each Row */
.ag-theme-balham .ag-row{
    border-bottom:#E7E8E9 15px solid !important;
    background-color: #F6F7F7;
}