body {
  font-family: "Muli", sans-serif;
  /* width: 100% !important; */
}

/* 
.split {
    display: flex;
    flex-flow: row nowrap;
    min-height: 100vh;
  } */

/* .split-left{
    display: flex;

  }
  .split-right{
    display: flex;

  } */

.navShadow:focus {
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.sidenav---navtext---1AE_f,
.sidenav---navtext---1AE_f a {
  color: #007bff;
  color: (143, 18, 18) !important;
}

.subTitle {
  margin-left: 10px;
}

.sidenav---sidenav---_2tBP {
  background: #2c3a47 !important;
  color: #fff;
}

.navLogo {
  margin: 15px;
  margin-bottom: 20px;
  margin-top: 10px;
}

.sidenav---navicon---3gCRo {
  background-color: #fff;
}

.sidenav {
  color: #fff;
}

.navtext {
  color: #f6f6f6(21, 14, 46);
}

.sidenav---sidenav-nav---3tvij
  > .sidenav---sidenav-navitem---uwIJ-
  > .sidenav---navitem---9uL5T
  .sidenav---navicon---3gCRo
  > *,
.sidenav---sidenav-nav---3tvij
  > .sidenav---sidenav-navitem---uwIJ-
  > .sidenav---navitem---9uL5T
  .sidenav---navtext---1AE_f
  > {
  color: rgb(233, 223, 223);
}

/* 
Product Search, pop out nav  */
.sidenav---sidenav-subnavitem---1cD47 {
  color: #25ccf7;
}

.navitemClassName {
  color: #25ccf7;
}
/* Product Search - sub menu} */
.sidenav---sidenav---_2tBP.sidenav---expanded---1KdUL
  .sidenav---sidenav-subnav---1EN61
  > .sidenav---sidenav-subnavitem---1cD47
  > .sidenav---navitem---9uL5T {
  color: #25ccf7;
}

/* .reflectBelow	{ 
	-webkit-box-reflect: below 0;
    -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.5, transparent), to(white)); 
} */
.sidenav---sidenav---_2tBP {
  position: fixed;
}
