body {
    font-family: 'Muli', sans-serif;
    /* width: 100% !important; */
}

.navShadow{
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.subTitle{
    margin-left: 10px;
}

.sidenav---sidenav---_2tBP {
    background:#2C3A47 !important;
    color: #fff;
}

.navLogo {
    margin: 15px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.sidenav---navicon---3gCRo {
background-color: #25CCF7;
}

.sidenav{
color: #fff;
}

.navtext{
    color: #fff;
}


.sidenav---sidenav-nav---3tvij > .sidenav---sidenav-navitem---uwIJ- > .sidenav---navitem---9uL5T .sidenav---navicon---3gCRo > *, .sidenav---sidenav-nav---3tvij > .sidenav---sidenav-navitem---uwIJ- > .sidenav---navitem---9uL5T .sidenav---navtext---1AE_f > {
    color: #fff; 
}

/* 
Product Search, pop out nav  */
.sidenav---sidenav-subnavitem---1cD47 {
    color: #25CCF7;
}

.navitemClassName{
    color: #25CCF7;
}
 /* Product Search - sub menu} */
.sidenav---sidenav---_2tBP.sidenav---expanded---1KdUL .sidenav---sidenav-subnav---1EN61 > .sidenav---sidenav-subnavitem---1cD47 > .sidenav---navitem---9uL5T{
    color:#fff;
}


