.newItemLabel{
    font-family: 'Muli', sans-serif;
    font-size: 2rem;
}

.form-control{
    font-family: 'Muli', sans-serif;
    font-size: 2rem;
    margin-bottom: 4%;
    color: #A1AAB0;
    height: 35px!important;
   display:block;

}

.bg{
    background-color: #D6E3EA !important;
}

.newItem form{
    background-color: #D6E3EA;
}

.header{
    font-family: 'Muli', sans-serif;
    font-size: 2rem;
    /* margin-bottom: 5%; */
    margin-top: 10px;
    text-align: center;
}

.newItemLabel{
    font-family: 'Muli', sans-serif;
    font-size: 2rem;
    display:block;
  
}

.exit{
    font-family: 'Muli', sans-serif;
    font-size: 2rem;
}
/* 
.eImage{
    margin-left:50px;
} */
